.ChatLowerC {
  display: flex;
  height: 100%;
}

.ChatLeft {
  flex:1;
  padding: 10px;
  overflow-y: auto;
  background: #303030;
}

.ChatRight {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #303030;
  border-left: 1px solid rgb(61, 59, 59);
}

.my-msg {
  max-width: 75%;
  padding: 0px 16px;
  border-radius: 16px;
  position: relative;
  line-height: 1.4;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  align-self: flex-end;
  background: #f1f0f0;
  color: #333;
}

.their-msg {
  max-width: 75%;
  padding: 0px 16px;
  border-radius: 16px;
  position: relative;
  line-height: 1.4;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  align-self: flex-start;
  background: #f1f0f0;
  color: #333;
}
.messagesArea{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messageBubble{
  display: flex;
  gap: 25px;
}
.messageBubble p{
  text-align: left;
  padding: 0px;
  margin: 5px;
}

.messageBubble .timestamp{
  text-align: right;
  font-size: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}