.regformcontainerStyle{
    color: white;
    font-family: gg sans, Noto Sans, sans-serif;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
}
.regformheadingStyle {
    width: 416px;
    height: 30px;
    text-align: center;
    margin: 30px auto;
}

.regformStyle {
    width: 416px;
    height: 450px;
    margin: 1px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h6{
    color: grey;
    display: inline;
    padding: 0px;
    margin: 5px 0px;
}

.checkBox{
    width: 24px;
    height: 24px;
    border-radius: 10px;
    margin-right: 10px;
}

.caution{
    display: flex;
    align-items: center;
}

 .reglinkStyles {
     color: rgb(168, 175, 245);
     font-size: 10px;
     text-decoration: none;
     display: inline;
 }

 .lastlink{
    align-self: flex-start;
 }

 .lowerregform{
    width: 416px;
    height: 140px;
    margin: 1px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }