.formStyles {
    color: white;
    height: 352px;
}

.formheadingStyle {
    text-align: center;
    font-family: gg sans, Noto Sans, sans-serif;
}

.needAcc{
    color: #B9BBBE;
    display: inline;
}
