.channelHeaderNav {
    border-top: 1px solid rgb(61, 59, 59);
    border-bottom: 1px solid rgb(61, 59, 59);
    padding: 12px 16px;
    background-color: #2c2f33;
    color: #fff;
}

.channelHeaderNav h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.connectButton {
    padding: 10px 20px;
    background-color: #5865f2;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    margin: 20px;
    transition: background-color 0.3s ease;
}

.connectButton:hover {
    background-color: #4752c4;
}

