.serverPage {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Poppins', 'Segoe UI', 'Helvetica Neue', sans-serif;
    color: white;
    height: 100%;
    /* overflow: hidden; */
}

.serverContainer {
    display: flex;
    width: 100%;
    height: calc(100% - 32px);
}

.serverLeftBox {
    width: 376px;
    background-color: #2b2d31;
    overflow: hidden;
    height: 100%;
    display: flex;
}

.serverRightBox {
    width: calc(100% - 376px);
    background-color: #313338;
    height: 100%;
}

