.friendNavC{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(61, 59, 59);
    border-bottom: 1px solid rgb(61, 59, 59);
}

.leftFriendsNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.rightFriendsNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.friendsNavIcons{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.lnc1{
    display: flex;
    align-items: center;
    gap: 10px;
}

.lnc2{
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: rgb(104, 106, 232);
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}

.lnc2:active{
    background-color: rgb(29, 29, 29);
    color: rgb(129, 129, 224);
}

.dot{
    width: 30px;
    height: 30px;
}

