.stylesRegister{
    background-image: url('../../assets/login-page-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoStyle {
    position: absolute;
    top: 50px;
    left: 50px;
}

.stylesRegisterForm{
    width: 480px;
    height: 714px;
    background-color: #36393F;
    border-radius: 10px;
}